body{
	background-color: yellow;
}


h2{
	text-align: center;
}
.container{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.box1{
			width: 100px;
			height: 100px;
			background-color:skyblue;
			animation-name: box1;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			margin: 20px;
		}
		.box2{
			width: 100px;
			height: 100px;
			background-color: gray;
			animation-name: box2;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			margin: 20px;
		}
		.box3{
			width: 100px;
			height: 100px;
			background-color: pink;
			animation-name: box3;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			margin: 20px;
		}
		.box4{
			width: 100px;
			height: 100px;
			background-color: orange;
			animation-name: box4;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			margin: 20px;
		}
		.box5{
			width: 100px;
			height: 100px;
			background-color: aquamarine;
			animation-name: box5;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			margin: 20px;
		}
		.box6{
			width: 100px;
			height: 100px;
			background-color: white;
			animation-name: box6;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			margin: 20px;
		}

		@keyframes box1{
			0%{
				transform: skew(20deg);
			}
			50%{
				transform: skew(-20deg);
			}
			100%{
				transform: skew(20deg);
			}
		}
		@keyframes box2{
			0%{
				transform: skewY(-10deg);
			}
			100%{
				transform: skewY(10deg);
			}
		}
		@keyframes box3{
			0%{
				transform: rotate(100deg);
			}
			100%{
				transform: rotate(360deg);
			}
		}
		@keyframes box4{
			0%{
				transform: rotateX(50deg);
			}
			100%{
				transform: rotateX(-40deg);
			}
		}
		@keyframes box5{
			0%{
				transform: rotateY(60deg);
			}
			100%{
				transform: rotateY(-60deg);
			}
		}
		@keyframes box6{
			0%{
				transform: rotate(60deg);
			}
			100%{
				transform: rotate(-60deg);
			}
		}
		h3{
			font-size: 20px;
			color: maroon;
			text-align: center;
		}
		

		